/* src/components/Footer.module.css */

/* Кастомные стили для футера */
.customFooter {
  /* background-color: #f8f9fa; */
  padding-top: 1.7rem!important;
  padding-bottom: 1rem!important;
  color: #495057;
}

/* Заголовки */
.heading {
  font-weight: 600;
  font-size: 17px;
  color: white;
  margin-bottom: 1.25rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: white;
}

/* Ссылки */
.link {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: #0d6efd;
}

/* Контакты */
.contact {
  font-style: normal;
}

/* Копирайт */
.copyright {
  color: #6c757d;
}